.font-headline {
  font-family: "Spectral SC", serif;
  font-size: 28px; }

.font-special {
  font-family: "Anonymous Pro", monospace; }

.font-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: w3-hide-large 14px;
  line-height: 1.5; }

a.white-link:hover, a.white-link:active, a.white-link:link, a.white-link:visited {
  color: #f1f1f1; }

.white-txt {
  color: #f1f1f1; }

body {
  background-color: #F1F1F1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.mainContainer {
  padding: 40px 0;
  transition: margin-left .4s;
  margin-right: 100px;
  margin-left: 365px;
  display: block; }

@media (max-width: 1024px) {
  .mainContainer {
    margin-right: 15px;
    margin-left: 15px; } }
.animateOpacity {
  animation: opac 0.8s; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer; }

.postsDiv {
  border-left: 0.2rem solid #6991ac;
  list-style-type: none; }

.articleImage {
  width: 100%;
  margin: 0 2em 2em 0;
  outline: none; }

.blogBackForth {
  background-color: #6991ac;
  color: #f1f1f1;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0; }

.hiddenSubmit {
  position: absolute;
  z-index: 0;
  left: -9999px; }

.projectContainer {
  width: 325px;
  position: relative;
  height: 200px;
  margin: 20px 30px 0 0;
  background-size: 350px;
  background-position: center top;
  /* TODO:  cower, or contain when thumbs */
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 1px 1px black;
  -moz-box-shadow: 0 1px 1px 1px black;
  box-shadow: 0 1px 1px 1px black; }

.projectInfoContainer {
  padding: 3px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: bottom;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0 0 1px black;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
  z-index: 99; }

.portfolioPreviewIcon {
  outline: none;
  margin: 5px;
  background-color: #f1f1f1;
  padding: 1px 3px;
  border-radius: 3px;
  border: 1px solid #67727a;
  font-size: 80%; }

.socialIcon {
  color: lightgrey;
  font-size: 130%;
  margin: 0 3px; }

a.sloaButton:active, a.sloaButton:visited, a.sloaButton:link {
  color: #A54242;
  font-family: "Anonymous Pro", monospace;
  font-size: 120%;
  text-decoration: none;
  margin-left: 25px; }

.sidebarContainer {
  position: fixed !important;
  width: 300px;
  background-color: #262626;
  overflow: hidden;
  display: none;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: bold;
  padding: 10px 0 0 10px;
  font-family: "Raleway", sans-serif; }

.alphaTxt {
  font-size: 70%;
  color: rgba(204, 204, 204, 0.2); }

@media (min-width: 1024px) {
  .sidebarContainer {
    display: block !important; } }
.sidebarButton {
  padding: 8px 20px;
  margin-left: 25px;
  width: auto;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  color: lightgrey;
  text-decoration: none; }

.sidebarButton:hover {
  color: #000;
  background-color: #F1F1F1; }

.sideContact {
  color: lightgrey;
  font-size: 80%;
  font-style: normal;
  line-height: 1.3rem; }

.loginContainer {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px; }

.topBar {
  padding: 1em 16px 1em 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: #262626; }

.topBar:after, .topBar:before {
  content: "";
  display: table;
  clear: both; }

.topbarButton {
  color: black;
  padding: 3px 10px;
  background-color: #f1f1f1;
  outline: none;
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
