
@import 'constants';

.font-headline {
    font-family: $headline;
}

.font-special {
    font-family: $special;
}

// .font-paragraph {
//     font-family: $paragraph;
// }

.content {
    flex: 1;
}

a.white-link {
    &:hover, &:active, &:link, &:visited {
        color: $white;
    }
}

.white-txt {
    color: $white;
}

body {
    background-color: #F1F1F1;
    max-width:1600px;
}