
// Colors
$white      : #f1f1f1;
$pink       : #f5b;
$black      : #1A1A1A;
$black-light: #2a2025;
$blue       : #5bc0de;

// Fonts
$special  : 'Handlee', cursive;
$headline : 'Abril Fatface', cursive;
//$paragraph: 'Bellefair', serif;