
// Colors
$white     : #f1f1f1;
$red       : #d75c37;
$matt-red  : #A54242;
$grey      : #67727a;
$blue      : #6991ac;
$light-blue: #c3d7df;

// Fonts
$paragraph: 'Open Sans', sans-serif;
$headline : 'Spectral SC', serif;
$special  : 'Anonymous Pro', monospace;
