@import 'constants';

.footer {
    border-top:1px solid $black-light;
    background-color: $black-light;
    padding-bottom:0;
    color: $white;
}

.footer-td {
    padding-right:10px;
    padding-top:6px;
    text-align: right;
}

.footer-td-icon {
    text-align: center;
    padding-top:6px;
}

.contactFooter {
    text-align:right; 
    padding-right:0;
}

.contactFooterMobile{
    text-align: center;
}

.footerMobile-td {
    padding-left:10px;
    padding-top:6px;
    text-align: left;
}
