
@import 'constants';

a.menuButton:active,a.menuButton:visited,a.menuButton:link{
  color: $black-light;
  font-size: 120%;
}

a.menuButton:hover{
    color: $pink;
    transition: color .15s ease-in-out;
}

a.menuButtonSelected:active,a.menuButtonSelected:visited,a.menuButtonSelected:link  {
    color: $pink;
}

a.sloaButton:active,a.sloaButton:visited,a.sloaButton:link{
    color: $black-light;
    font-size: 140%;
}