@import 'constants';
@import 'functions';

a.menuButton:active,a.menuButton:visited,a.menuButton:link{
  color: $black-light;
  font-size: 120%;
}

a.menuButton:hover{
    color: $pink;
    transition: color .15s ease-in-out;
}

a.sloaButton:active,a.sloaButton:visited,a.sloaButton:link{
    color: $black-light;
    font-size: 140%;
}

.menuRow {
    // background-color: $menu-background;
    color: $black-light;
    border-bottom:1px solid $black-light;
}